<html>
<head>
  <title>Store management</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/style.css"/>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="login-container">
  <h2 style="text-align:left;">Login</h2>
  <form method="post" action="/">

    {% csrf_token %}
    <input style="width:200;height:30;" type="text" placeholder="  Username" name="Username"  required>
    <input style="width:200;height:20;" type="password" placeholder="Password" name="Password" required>
  </br>
    <input type="submit" value="Login">
  </form>

</div>
<div class="container">
</br>
  
</br>
</br>
</br>
    
    <a class="signup-link" href="/user_signin_form/">Signup</a>
</div>
<!--<a class="adminbutton" href="/admin">Admin Section </a>-->
<a href="/admin" class="btn btn-primary btn-lg">Admin section</a>
</body>



</html>